@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.courgette {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}
body{
  font-family: "Montserrat", sans-serif;
  font-family:"Courgette";
  font-family:sans-serif;
padding: 0;}
.title-shadow {
  text-shadow: 2px 4px 8px rgb(235, 140, 211);
  border: 3px solid #ec56b256;
  padding: 0.2em 0.5em;
  border-radius: 8px; 
  background-color: rgba(255, 255, 255, 0); 
}
.text-gradient {
  background: linear-gradient(45deg, #f37bc5, #ff8a00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

